
html{
    height: 100%;
}
body{
    width: 100%;
    /* background-color: rgb(197, 197, 247); */
    background-image: url("image/water-1081971_1280.jpg")
}
.window{
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.window > .header{
    position: fixed;
    padding: 20px;
    font-size: 8vw;
    z-index: 1;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #fff;
}
.content{
    padding: 40px 30px 80px 30px;
}
.content ul{
    display: flex;
    justify-content: space-around;
}
.card-group{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card{
    width: 100%;
    margin : 40px 0px;
}
.card-footer{
    height:20%;
}

.bottom{
    width: 100%;
    position: fixed;
    bottom : 0;
}
.bottom nav{
    display: flex;
    justify-content: space-around;
}
nav{
    font-size: 8vw;
    font-weight: bold;
}
.nav_content span{
    width: 25%;
    font-size: 0.8em;
}
.nav_content a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav_content img{
    position: absolute;
    width: 65px;
    opacity: 0.3;
}
.nav_content p{
    margin: auto;
}
nav .disabled{
    color: rgb(154, 154, 250);
}
.navbar img{
    position: fixed;
    object-fit: cover;
    object-position: 0 5;
    width: 100%;
    height: 10%;
}
.navbar button{
    z-index: 1;
    width: 100%;
    opacity: 0;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.se-pre-con p{
    position: fixed;
    color: white;
    font-size: 1.5em;
}