
html{
    height: 100%;
}
body{
    width: 100%;
    background-image: url(aaa.png);
    /* background-color: rgb(197, 197, 247); */
    
}
.background{
    position: absolute;
    opacity: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.window{
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.window > .header{
    position: fixed;
    padding: 20px;
    font-size: 8vw;
    z-index: 1;
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: none;
}
.window > .header-alt{
    position: fixed;
    padding: 20px;
    font-size: 8vw;
    z-index: 1;
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s;
    color: black;
}
.content{
    margin: 70px 20px ;
    margin-top: 70px;
    margin-bottom: 0px;
}
.content ul{
    display: flex;
    justify-content: space-around;
}
.content li{
    border: 2px solid #FFF;
    border-radius : 5px;
}
.content a{
    color:#FFF;
}
.bottom{
    width: 100%;
}
.bottom nav{
    display: flex;
    justify-content: space-around;
    /* background-color: gray; */
}
.bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
}
nav{
    font-size: 2em;
    font-weight: bold;
}
.nav_content span{
    width: 25%;
    font-size: 0.7em;
}
.nav_content a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding: 0;
}
.nav_content img{
    position: absolute;
    width: 65px;
    opacity: 0.3;
}
.nav_content p{
    margin: auto;
}
nav .disabled{
    color: rgb(154, 154, 250);
}

.navbar img{
    position: fixed;
    object-fit: cover;
    object-position: 0;
    bottom:0;
    width: 100%;
    /* height: 10%; */
}
.navbar button{
    z-index: 1;
    width: 100%;
    opacity: 0;
}
nav{
    font-size: 2em;
    font-weight: bold;
}
nav .disabled{
    color: rgb(154, 154, 250);
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.se-pre-con p{
    position: fixed;
    color: white;
    font-size: 1.5em;
}
.tab-content{
    
    height: 80%;
    overflow: scroll;
}